form
    <div class="mb-3">
        label(for="email", class="form-label") Email address
        input(
            type="email",
            id="email",
            name="email",
            class="form-control",
            aria-describedby="emailHelp"
        )
        div(id="emailHelp", class="form-text") We'll never share your email with anyone else.
    div(class="mb-3")
        label(for="first-name", class="form-label") First name
        input(type="text", id="first-name", name="firstName", class="form-control")
    div(class="mb-3")
        label(for="last-name", class="form-label") Last name
        input(type="text", id="last-name", name="lastName", class="form-control")
    div(class="mb-3")
        label(for="address1", class="form-label") Adress 1
        input(type="text", id="address1", name="address1", class="form-control")
    div(class="mb-3")
        label(for="address2", class="form-label") Adress 2
        input(type="text", id="address2", name="address2", class="form-control")
    div(class="mb-3")
        label(for="locality", class="form-label") Locality
        input(type="text", id="locality", name="locality", class="form-control")
    div(class="mb-3")
        label(for="administrative-area", class="form-label") Administrative area
        input(type="text", id="administrative-area", name="administrativeArea", class="form-control")
    div(class="mb-3")
        label(for="postal-code", class="form-label") Postal code
        input(type="text", id="postal-code", name="postalCode", class="form-control")
    div(class="mb-3")
        label(for="phone-number", class="form-label") Phone number
        input(type="text", id="phone-number", name="phoneNumber", class="form-control")
    div(class="mb-3")
        label(for="city", class="form-label") City
        input(type="text", id="city", name="city", class="form-control")
    div(class="mb-3")
        label(for="country", class="form-label") Country
        input(type="text", id="country", name="country", class="form-control")
    div(class="mb-3")
        label(for="password", class="form-label") Password
        input(type="password", id="password", class="form-control")
    button(type="submit", class="btn btn-primary") Submit